.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1E88E5  !important;
}

#section {height:100vh;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:100vh;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

.navbar {
  background-color: #1E88E5;
}

.navbar .navbar-brand {
  color: white !important;
  font-family: Candara;
  font-size: 30px;
}

nav .navbar-nav li a {
  transition: 0.3s ease;
  color: white !important;
  font-size: 20px;
  font-family: Candara;
}
nav .navbar-nav li a:hover {
  color: #fa3218 !important;
}

.second {
  height: 100vh;
  background-position: center;
  background-color: chartreuse ;
}

.first {
  height: 100vh;
  background-position: center;
  background-color: blue ;
}

.cards-menu {
  padding-top: 8%;
}

.character-detail {
  margin-top: 8%;
  background-color: #fff;
}


